		html{
			margin: 0;
			padding: 0;
			font-family: 'Open Sans', sans-serif;
			/*font-family: 'Roboto', sans-serif;*/
		}	

		body{
			margin: 0;
			padding: 0;
		}

		@font-face {
			font-family: 'DHF_Quintas_Diary';
			src:	local('fonts/DHF_Quintas_Diary.otf'),
						url('fonts/DHF_Quintas_Diary.otf')
						format('opentype');
		}
		
		.header-container{
			position: fixed;
			background-color: #FFF; 
			width: 100%;
			height: 50px;
			top: 0;
			margin: 0;
			padding: 0;
			z-index: 3;
			border-bottom: 2px solid #D1D1D1;
			/*box-shadow: 0px 1px 4px #000;*/
			/*opacity: .95;*/
		}

		.header {
			max-width: 1000px;
			height: 50px;
			margin: 0 auto;
		}

		.header-logo{
			display: inline-block;
			margin-top: .2em;
			float: left;
		}
		
		.header-logo a{
			display: inline-block;
			width: 100px;
			height: 41px;
			background-image: url(https://farm9.staticflickr.com/8645/16200269726_aa0858116e_t.jpg);
			background-repeat: no-repeat;
			background-position: left;
		}

		.nav-container {
			float:right;
			position: relative;
			top: 3%;
			/*margin-top: -1em;*/
		}

		.nav-container ul li {
			display: inline;
			padding: .2em 1em;
		}

		.nav-container ul li a{
			color: #000;
			text-decoration: none;
			font-weight: 700;
			text-shadow: .4px .3px #E7E6E6;
			/*letter-spacing: .5px;*/

			/*transition-property: color 0.5s linear;*/
		}
		.nav-container ul li a:hover, .nav-container ul li a.selected{
			color: #BBD656;
		}

		.banner-wrapper {
			width: 100%;
			position: relative;
		}

		.banner {
			display: block;
			/*position: relative;*/
			/* photo credit to Lars P. on flickr https://www.flickr.com/photos/lars_p/ */
			background-image: url(https://farm5.staticflickr.com/4136/4911238308_f9325ce590_b.jpg);
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 200px;
			margin-top: 50px;
			margin-bottom: 0;
			/*z-index: 1;*/
		}

		.banner-overlay {
			position: absolute;
			background-color: #B64926;
			opacity: .65;
			height: 200px;
			width:100%;
			top:0;
			/*margin: 0;*/
		}

		.edibags {
			/*font-family: 'Shadows Into Light Two', cursive;*/
			font-family: 'DHF_Quintas_Diary';
			font-size: 1.5em;
		}

/*		.banner span {
			display: block;
			max-width: 1000px;
			margin-left: auto;
			margin-right: auto;
			font-size: 1.3em;
			padding: 80px;
			color: #FFF;
		}*/

		.banner span{
			display: block;
			position: absolute;
			z-index: 2;
			text-align: center;
			line-height: 200px;
			width: 100%;
			height: 200px;
			color: #FFF;
			font-size: 3.8em;
			text-shadow: 1px 1px 2px #444;
		}


		.title-wrapper{
			width: 100%;
		}

		.title{
			display: block;
			max-width: 1000px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 50px;
			padding-left: 20px;
			padding-right: 50px;
		}

		.title span{
			display: inline-block;
			max-width: 1000px;
			color: #000;
			font-size: 1.8em;
			/*padding-top: 50px;*/
			padding-left: 50px;
			font-weight: 600;
		}

		.title p {
			display: inline-block;
			max-width: 1000px;
			color: #000;
			font-size: 1em;
			/*padding-top: 50px;*/
			padding-left: 50px;
			font-weight: 500;
		}


		.footer-container{
			background-color: #000; 
			width: 100%;
			height: 50px;
			bottom: 0;
			margin: 0;
			padding: 0;
			z-index: 3;
			/*opacity: .95;*/
		}

		.footer {
			max-width: 1000px;
			height: 50px;
			margin: 0 auto;
		}

		.footer-logo{
			display: inline-block;
			margin-top: .2em;
			float: left;
		}

